*,*::before,*::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    gap: 30px;
}

.section {
    display: flex;
    flex-direction: column;
    flex: 1;
    min-width: 200px;
    height: 300px;
    justify-content: center;
    border: 1px solid peru;
    padding: 10px;
    background-color: white;
}

.section__title {
    text-align: center;
    margin-block: 10px;
}

p {
    margin-block: 15px;
}

.article__buttons__container {
    display: flex;
    gap: 30px;
    justify-content: center;
    margin-block: 10px;
}

.article__button {
   width: 120px;
   height: 30px;
   background-color: rgb(207, 224, 224);
   border-radius: 10px;
}

.article__button--active {
    background-color: aqua;
}

.Section {
    display: flex;
    flex-direction: column;
    flex: 1;
    min-width: 200px;
    height: 300px;
    justify-content: center;
    border: 1px solid peru;
    padding: 10px;
    background-color: white;
}

.Section-Title {
    text-align: center;
    margin-block: 10px;
}

.Article-buttonsContainer {
    display: flex;
    gap: 30px;
    justify-content: center;
    margin-block: 10px;
}

.Article-button {
   width: 120px;
   height: 30px;
   background-color: rgb(207, 224, 224);
   border-radius: 10px;
}

.Article-button--active {
    background-color: aqua;
}