.article__button {
   width: $space-120;
   height: $space-30;
   background-color: $color_inactive;
   border-radius: $space-default;
}

.Article-button {
    width: $space-120;
    height: $space-30;
    background-color: $color_inactive;
    border-radius: $space-default;
 }
