.article__buttons__container {
    display: flex;
    gap: $space-30;
    justify-content: center;
    margin-block: $space-default;
}

.Article-buttonsContainer {
    display: flex;
    gap: $space-30;
    justify-content: center;
    margin-block: $space-default;
}